{{ define "main" }}
  <div class="post {{ with .Site.Params.doNotLoadAnimations }}.{{ else }}animated fadeInDown{{ end }}">
    <div class="post__content">
      {{ .Content }}
    </div>
  </div>
  <div class="archive {{ with .Site.Params.doNotLoadAnimations }}.{{ else }}animated fadeInDown{{ end }}">
    {{ range .Pages.ByDate.Reverse }}
      <ul class="archive__list">
        <li class="archive__list-item">
          {{ if (eq .Site.Params.disableArchiveTitleStyling true) }}
            <a class="archive__list-title" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
          {{ else }}
            <a class="archive__list-title" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ upper .Title }}</a>
          {{ end }}
          {{ if not .Date.IsZero }}
            <div class="archive__list-date">{{ .Date.Format "2 Jan 2006" }}</div>
          {{ end }}
        </li>
      </ul>
    {{ end }}
  </div>
{{ end }}
