@use 'modules/config' as conf;

.footer {
  $font-size-footer: 1.4rem;

  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  flex: 0;
  position: relative;

  &__list {
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 8px;
    row-gap: 4px;
  }

  &__item {
    font-size: $font-size-footer;
    text-align: center;

    &:not(:first-of-type)::before {
      content: '\00B7';
      padding-right: 8px;
    }

    a {
      font-size: $font-size-footer;
    }
  }

  &__sidebar {
    display: none;

    @include conf.desktop {
      display: block;
      width: 100%;
      margin-top: auto;
      padding-bottom: 26px;
    }
  }

  &__base {
    @include conf.desktop {
      display: none;
    }
  }
}
