@use 'modules/color_theme' as color;
@use 'modules/config' as conf;

.sidebar {
  margin-top: 24px;

  @include conf.desktop {
    z-index: 2;
    position: fixed;
    height: 100%;
    margin-top: 0;
    width: inherit;
    display: flex;
    flex-direction: column;

    @include color.themed() {
      @include conf.ltr {
        margin-right: 4px;
        border-right: color.t('border');
      }

      @include conf.rtl {
        margin-left: 4px;
        border-left: color.t('border');
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include conf.desktop {
      flex-grow: 1;
      justify-content: flex-start;
      padding-top: 5.5rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0.6rem 0 0;

    text-align: center;

    &-item {
      display: inline;
      padding: 0 6px;
      line-height: 0;
    }
  }

  &__introduction {
    top: 40%;
    text-align: center;

    &-description {
      margin: 0 1em;
      p {
        line-height: 1.55;
      }
    }

    &-profileimage {
      width: 138px;
      height: 138px;
      border-radius: 50%;
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 1;
      margin: 1em;

      a {
        font-size: 3.1rem;
      }

      h1 {
        margin: 0;
      }
    }
  }

  &__social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__social-image {
    height: 2.2rem;
    width: auto;
    vertical-align: middle;
    filter: var(--icon-filter, none);
  }

  &__social-icon {
    font-size: 3rem;
    line-height: 1;
  }
}
